
     	.jumbotron
     	 {
               background-color:#ebba34;
     		padding:2rem 2rem;
     		display:flex;
     		flex-direction:  row;
     	}
     	.jumbotron img
     	{
     		width:400px;
     	}
     	.bg-custom{
     		background-color:#ebba34;
     	}
          .nav-link, .navbar-brand{

               color:green;
          }
          .navbar-text a{
               color:green;
          }

          #about p{
               text-align:justify;
               user-select: none;
          }
     